body {
  overflow: hidden; 
}
.canvas_panel {
  position: fixed;
  bottom: 30px;
  width: 100%;
  color: white;
  padding: 0px;
  background: #000000;
}
.canvas_panel input {
  color: #000000;
}

.propery_panel {
  display: none;
  color: #ffffff;
  position: absolute;
  right: 0;
  top: 100px;
  padding: 10px;
  background-color: #000000;
}

/* scrollbar */
.canvas-container {
  float: left;
}
#vertical-scroller {
  float: right;
  z-index: 10001;
}
#vertical-scroller .dragdealer {
  float: right;
  width: 30px;
}
#vertical-scroller .dragdealer .handle {
  width: 30px;
  height: 60px;
  text-align: center;
}
#vertical-scroller .dragdealer .handle i {
  line-height: 60px;
}

#horizontal-scroller {
  clear: both;
  z-index: 10000;
}

.gray-bar {
  width: 100px;
  height: 30px;
  background: #666666;
  color: #FFF;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}