body {
  overflow: hidden; 
}

.nav {
  float: left;
  width: 200px;
}

.main_container {
  float: left;
}

.side_container {
  float: right;
  width: 360px;
}


.propery_panel {
  float: right;
  width: 330px;
  color: #ffffff;
  padding: 10px;
  background-color: #000000;
}

.canvas_panel {
}
.object_panel {
  display: none;
}
.group_panel {
  display: none;
}

#geojson {
  width: 300px;
  height: 500px;
  color: #000000;
}

/* scrollbar */

#vertical-scroller {
  float: left;
  z-index: 10001;
}
#vertical-scroller .dragdealer {
  width: 30px;
}
#vertical-scroller .dragdealer .handle {
  width: 30px;
  height: 60px;
  text-align: center;
}
#vertical-scroller .dragdealer .handle i {
  line-height: 60px;
}

#horizontal-scroller {
  z-index: 10000;
}

.gray-bar {
  width: 100px;
  height: 30px;
  background: #666666;
  color: #FFF;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

/* editor */

#editor {
  color: #000000;
  background-color: #ffffff;
}