body {
  overflow: hidden; 
}

.header {
  height: 42px;  
}
.nav {
  float: left;
  width: 300px;
}

.main_container {
  float: left;
}

.side_container {
  float: right;
  width: 360px;
}

/* toolbar */
.toolbar_container {
  position: absolute;
  left: 50px;
  top:  100px;
  z-index: 10000000;
  padding: 10px;
  border: 1px solid #999999;
  background-color: #FFFFFF;
}
.toolbar_container ul {
  margin-left: 0;
  padding-left: 0;
}
.toolbar_container ul.toolbar_menu>li {
  display: block;
  list-style: none;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #CCCCCC;
  background-color: #FFFFFF;
}
.toolbar_container ul.toolbar_menu>li:hover {
  background-color: lightpink;
}

/* property_panel */
.property_panel {
  float: right;
  width: 330px;
  color: #ffffff;
  padding: 10px;
  background-color: #000000;
}

.canvas_panel {
}
.object_panel {
  display: none;
}
.group_panel {
  display: none;
}

#geojson {
  width: 300px;
  height: 500px;
  color: #000000;
}

/* scrollbar */

#vertical-scroller {
  float: left;
  z-index: 10001;
}
#vertical-scroller .dragdealer {
  width: 30px;
}
#vertical-scroller .dragdealer .handle {
  width: 30px;
  height: 60px;
  text-align: center;
}
#vertical-scroller .dragdealer .handle i {
  line-height: 60px;
}

#horizontal-scroller {
  z-index: 10000;
}

.gray-bar {
  width: 100px;
  height: 30px;
  background: #666666;
  color: #FFF;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
}

/* editor */

#editor {
  color: #000000;
  background-color: #ffffff;
}

/* map */
.map_container {
}
div.fill {
  width: 100%;
  height: 100%;
}
#map {
  margin: 0;
  padding: 0;
  width: 900px;
  height: 400px;
}
#map_search {
  width: 300px
}