html, body {
    height: 100%;
}

body {
    overflow: hidden;
}

.haika-container {
    height: 100%;
}

#haika-canvas {
    position: relative;
    overflow: hidden;
    /*width: 1200px;*/
    margin: 0 auto;
    height: 100%;
    /*
    border-right: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    */
    background: #353535;
    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
}


.haika-bgimg {
    background: black !important;
    border: none;
}
